<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="chats"></ion-back-button>
    </ion-buttons>
    <ion-title>Thêm bạn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Search"></ion-searchbar>
  <ion-list>
    <!-- <ion-item-sliding > -->
    <ion-list-header>
      My Requests
    </ion-list-header>
    <ion-item *ngFor=" let key of myrequest">
      <ion-buttons slot="end">
        <ion-button color="secondary" (click)="accept(key)" fill="outline" shape="round">
          <ion-icon name="checkmark"></ion-icon>
          Add
        </ion-button>
        <ion-button color="danger" (click)="ignore(key)" fill="outline" shape="round">
          <ion-icon name="trash"></ion-icon>
          Nope
        </ion-button>
      </ion-buttons>
      <ion-avatar slot="start">
        <img src="{{key.photoURL}}">
      </ion-avatar>
      <ion-label>
        <h2> {{key.displayName}}</h2>
      </ion-label>
    </ion-item>

    <ion-list-header>
      Other friends
    </ion-list-header>
    <ion-item *ngFor=" let key of fillteredusers">
      <ion-button slot="end" color="primary" (click)="sendreq(key)" fill="outline" shape="round">
        <ion-icon name="person-add"></ion-icon>
        Add
      </ion-button>
      <ion-avatar slot="start">
        <img src="{{key.photoURL}}">
      </ion-avatar>
      <ion-label>
        <h2> {{key.displayName}}</h2>
      </ion-label>
    </ion-item>
    <!-- <ion-item-options slide="left">
        <ion-button color="primary" (click)="sendreq(key)">
          <ion-icon name="person-add"></ion-icon>
          Add
        </ion-button>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>
</ion-content>