<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Your friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Search"></ion-searchbar>
  <ion-list *ngFor="let key of myfriends">
    <!-- <ion-item-sliding > -->
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{key.photoURL}}" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{key.displayName}}</h2>
      </ion-label>
      <ion-button fill="outline" shape="round" slot="end" (click)="addbuddy(key)">Add</ion-button> 
    </ion-item>
    <!-- <ion-item-options side="end">
        <ion-button color="primary" (click)="addbuddy(key)">
          <ion-icon name="person-add"></ion-icon>
          Add
        </ion-button>
      </ion-item-options> -->
    <!-- </ion-item-sliding> -->
  </ion-list>
</ion-content>