<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Group info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Group Members
    </ion-list-header>
    <ion-item *ngFor="let item of groupmembers">
      <ion-avatar slot="start">
        <img src="{{item.photoURL}}" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{item.displayName}}</h2>
        <small>Member</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>