<ion-content>
  <div class="ion-text-center ion-padding" style="padding-bottom: 0px;">
    <img style="height: 100px; " src="../../assets/images/message.png">
    <h3> Reset Password</h3>
    <label>Enter the email address associated with your account,and review your email.</label>
    <ion-list style="padding-top: 50px; padding-bottom: 50px;">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button style="height: 50px;" type="submit" (click)="reset()" expand="block" color="dark">Send</ion-button>

    <p><a (click)="goback()">Back to Login</a></p>
  </div>

</ion-content>
<!-- 
<ion-content class="backround">
  <ion-card>
    <ion-card-header> Password Reset</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-button class="black round outline" color="light" (click)="reset()">Reset my password</ion-button>
        <ion-button class="full clear" color="light" (click)="goback()">Go Back</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> -->