<ion-content class="background">
  <div class="ion-text-center ion-padding" style="padding-bottom: 0px;">
    <img style="height: 100px; " src="../../assets/images/message.png">
    <h3>Welcome to Ionic Started Messenger</h3>
  </div>
  <div class="ion-padding" style="padding-top: 0px">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="credentials.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" min='6' [(ngModel)]="credentials.password" required></ion-input>
      </ion-item>
    </ion-list>
    <p class="ion-text-right">
      <small><a (click)="passwordreset()"> Forgot login details ? <b> Get Help </b></a></small>
    </p>
    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-button style="height: 50px;" color="primary" (click)="signin()" expand="block">Login
          </ion-button>
        </ion-col>
        <ion-col>
        <ion-button style="height: 50px;" color="dark" (click)="signup()" expand="block">Sign up</ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
      <div class="ion-text-center ion-padding">
        --On Countinue With--
      </div>
      <ion-button expand="block" (click)="authservice.FacebookAuth()">
        <ion-icon name="logo-facebook"></ion-icon>Facebook
      </ion-button>
      <ion-button expand="block" color="danger" (click)="authservice.GoogleAuth()">
        <ion-icon name="logo-google"></ion-icon>Google
      </ion-button>
      <p class="ion-text-center"><ins>Don't have a account?</ins></p>
      
    

  </div>
</ion-content>