#me{
    background-color:#0099ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#friend{
    background-color:#cdcdcd;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
ion-label{
    margin: 1px;
}
.day{background: #eee; color: black;}
@media (prefers-color-scheme:dark){
    .day.dark-scheme {background:  #333; color: white;}
}
@media (prefers-color-scheme: light) {
    .day.light-scheme   { background: white; color:  #000000; }
}