#me{
    background-color:#0099ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#friend{
    background-color:#cdcdcd;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
ion-label{
    margin: 1px;
}