<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>
      
      <img src="{{buddy.photoURL}}" style="width: 20px; height: 20px; border-radius: 50%;">  
     
      {{buddy.displayName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sendPicMsg()">
        <ion-icon name="camera"></ion-icon>
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true">
  <ion-list class="ion-no-padding" lines="none" *ngFor="let item of allmessages; let i = index">
    <ion-item *ngIf="item.sentby === buddy.uid" style="padding-right: 12%;" class="ion-float-left">
      <ion-avatar slot="start">
        <img src="{{buddy.photoURL}}">
      </ion-avatar>
      <ion-label class="ion-text-wrap" id="friend"
        style="border-radius: 15px !important;background-color: mediumaquamarine !important;">
        {{item.message}}
      </ion-label>
      <!-- <img src="{{item.message}}" > -->
    </ion-item>
    <ion-item *ngIf="item.sentby !== buddy.uid" class="ion-float-right" style="padding-left: 12%;">
      <ion-avatar slot="end">
        <img src="{{photoURL}}" alt="">
      </ion-avatar>
      <ion-label class="ion-text-wrap" id="me"
        style="border-radius: 15px !important;background-color: dodgerblue !important;overflow-y: auto;">
        {{item.message}}
      </ion-label>
      <!-- <img src="{{item.message}}"> -->
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="day">
  <ion-toolbar ion-no-padding>
    <ion-input [(ngModel)]="newmessage" placeholder="Write your message ..." ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="addmessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>