<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Your profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding">
    <h2 style="padding: 0px; margin: 0px;">
      {{displayName}}
      <ion-chip slot="end" (click)=" editname()">
        <ion-label>Edit</ion-label>
      </ion-chip>
    </h2>
    <ion-avatar>
      <img src="{{avatar}}" alt="Your avatar">
    </ion-avatar>
    <ion-button shape="round" (click)="editimage()">Update avatar</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button style="height: 50px;" color="danger" fill="outline" shape="round" (click)="logout()" expand="block">Log
      out
    </ion-button>
  </div>
</ion-content>