<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Update your avatar</ion-title>
    <ion-note class="ion-padding" slot="end" style="color: blue;" (click)="proceed()">Skip</ion-note>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar>
    <img src="imgurl">
  </ion-avatar>

  <!-- <div *ngIf="!moveon">
    <ion-button class="round outline" (click)="proceed()">Skip this step</ion-button>
  </div> -->
  <div *ngIf="moveon" class="ion-text-center">
    <ion-button fill="outline" shape="round" (click)="chooseimage()">Choose image</ion-button>
    <ion-button shape="round" fill="outline" color="success" (click)="updateproceed()">Upload & proceed</ion-button>
  </div>
</ion-content>