<ion-header>
  <ion-toolbar>
    <ion-title>groupchat</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="owner" icon-only (click) = "presentOwnerSheet()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!owner" icon-only (click)= "presentMemberSheet()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">
  <div>
    <ion-list no-lines>
      <ion-item *ngFor="let item of allgroupmsgs; let i = index" class="ion-text-wrap">
        <ion-avatar slot="start"  *ngIf="item.sentby === alignuid">
          <img src="{{photoURL}}" alt="">
        </ion-avatar>
        <div  *ngIf="item.sentby === alignuid">
          <h6 style="color: mediumpurple;">{{item.displayName}}</h6>
          <h3 *ngIf="!imgornot[i]">{{item.message}}</h3>
          <img src="{{item.message}}" *ngIf="imgornot[i]">
          <p><small>{{item.timestamp}}</small></p>
        </div>
        <ion-avatar slot="end" *ngIf="item.sentby != alignuid">
          <img src="{{item.photoURL}}">
        </ion-avatar>
        <div *ngIf="item.sentby != alignuid">
          <h6 style="color: mediumpurple;">{{item.displayName}}</h6>
          <h3 *ngIf="!imgornot[i]">{{item.message}}</h3>
          <img src="{{item.message}}" *ngIf="imgornot[i]">
          <p><small>{{item.timestamp}}</small></p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar color="white">
    <ion-input [(ngModel)]="newmessage" placeholder="Write your message ..."></ion-input>
    <ion-buttons slot="end" (click)="addgroupmsg()">
      <ion-icon name="send" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
