<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{groupName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="owner" icon-only (click)="presentOwnerSheet()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!owner" icon-only (click)="presentMemberSheet()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list class="ion-no-padding" lines="none" *ngFor="let item of allgroupmsgs; let i = index">
    <ion-item *ngIf="item.sentby === alignuid" class="ion-float-right" style="padding-left: 12%;">
      <ion-avatar slot="end">
        <img src="{{item.photoURL}}">
      </ion-avatar>
      <ion-label id="me">
        <h2>{{item.displayName}}</h2>
        <h3 *ngIf="!imgornot[i]" class="ion-text-wrap">{{item.message}}</h3>
        <img src="{{item.message}}" *ngIf="imgornot[i]">
        <!-- <p><small>{{item.timestamp}}</small></p> -->
      </ion-label>
    </ion-item>
    <ion-item *ngIf="item.sentby != alignuid" style="padding-right: 12%;" class="ion-float-left">
      <ion-avatar slot="start">
        <img src="{{item.photoURL}}">
      </ion-avatar>
      <ion-label id="friend">
        <h2 style="color: mediumpurple;">{{item.displayName}}</h2>
        <h3 *ngIf="!imgornot[i]" class="ion-text-wrap">{{item.message}}</h3>
        <img src="{{item.message}}" *ngIf="imgornot[i]">
        <!-- <p><small>{{item.timestamp}}</small></p> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="white">
    <ion-input [(ngModel)]="newmessage" placeholder="Write your message ..."></ion-input>
    <ion-buttons slot="end" (click)="addgroupmsg()">
      <ion-icon name="send" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>