#me{
    background-color:#0099ff;
    padding: 10px;
    border-radius: 5px;
    h2{
        text-align: right;
        color: purple;
    }
    h3{
        color: white;
    }
}

#friend{
    background-color:#cdcdcd;
    border-radius: 5px;
    padding: 10px;
}