<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Group's Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Search"></ion-searchbar>
  <ion-list *ngFor="let key of groupmembers">
    <!-- <ion-item-sliding > -->
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{key.photoURL}}" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{key.displayName}}</h2>
      </ion-label>
      <ion-button color="danger" fill="outline">
        <ion-icon name="trash"></ion-icon>
        Remove
      </ion-button>
      <!-- <ion-item-options side="end">
          <ion-button color="danger" (click)="removemember(key)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </ion-button>
        </ion-item-options>
      </ion-item>
    </ion-item-sliding> -->
    </ion-item>
  </ion-list>
</ion-content>